<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ccike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{472,675},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cdaozei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{372,835},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cdunbing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{248,835},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cfubing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{496,835},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cgongjianshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{124,835},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chaidao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{720,675},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cjianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{620,835},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cjisi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{0,835},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cmodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{124,995},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cmofashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{496,995},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cqiangbing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{372,995},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cqibing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{620,995},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cshenguanqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,153}</string>
                <key>spriteSourceSize</key>
                <string>{114,153}</string>
                <key>textureRect</key>
                <string>{{546,216},{114,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ctianmaqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,153}</string>
                <key>spriteSourceSize</key>
                <string>{114,153}</string>
                <key>textureRect</key>
                <string>{{660,216},{114,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ctouqiangshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{248,995},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cwushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{0,995},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cyilongqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,153}</string>
                <key>spriteSourceSize</key>
                <string>{114,153}</string>
                <key>textureRect</key>
                <string>{{432,216},{114,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Czhongjiabing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{744,835},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dcike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{116,522},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ddaozei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{232,522},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ddunbing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{0,522},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dfubing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{464,369},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dgongjianshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{348,522},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dhaidao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{580,522},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Djianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{0,675},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Djisi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{232,675},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dmodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{116,675},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dmofashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{696,522},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dqiangbing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{464,522},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dqibing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{696,369},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dshenguanqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{580,369},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dtianmaqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{774,216},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dtouqiangshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{116,369},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dwushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{348,369},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dyilongqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{232,369},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dzhongjiabing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,153}</string>
                <key>spriteSourceSize</key>
                <string>{116,153}</string>
                <key>textureRect</key>
                <string>{{0,369},{116,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Friendship.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{680,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xcike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{0,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xdaozei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{788,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xdunbing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{572,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xfubing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{464,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xgongjianshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{540,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xhaidao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{648,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xjianshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{140,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xjisi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{32,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xmodaoshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{248,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xmofashi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{108,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xqiangbing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{356,0},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xqibing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{756,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xshenguanqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{324,216},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xtianmaqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{216,216},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xtouqiangshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{108,216},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xwushi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{324,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xyilongqishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{216,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Xzhongjiabing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{432,108},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chios.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,198}</string>
                <key>spriteSourceSize</key>
                <string>{160,198}</string>
                <key>textureRect</key>
                <string>{{744,995},{160,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{108,108}</string>
                <key>textureRect</key>
                <string>{{0,216},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiangbing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{348,675},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shopMaks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{124,160}</string>
                <key>textureRect</key>
                <string>{{596,675},{124,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{904,1193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77009af0cec3cb232d08f28992643856:a85f363b60372eeeafc6520ea370fef1:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
