<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,0},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,98},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,98},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,196},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,196},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,294},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,294},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,392},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,392},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,490},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,490},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,588},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,588},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,686},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,686},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,784},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,784},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,882},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,882},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,980},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,980},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,1078},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,1078},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,1176},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,1176},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,1274},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,1274},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{0,1372},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>t_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,98}</string>
                <key>textureRect</key>
                <string>{{100,1372},{100,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{200,1470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5a38f170e3e314c81ef394ff7e48284:1ca7df354561a36c19d49f7e4f09576b:544c64e63d0b9630b74f34aa38307e54$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
