<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,250}</string>
                <key>spriteSourceSize</key>
                <string>{165,250}</string>
                <key>textureRect</key>
                <string>{{0,0},{165,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,250}</string>
                <key>spriteSourceSize</key>
                <string>{165,250}</string>
                <key>textureRect</key>
                <string>{{165,0},{165,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,250}</string>
                <key>spriteSourceSize</key>
                <string>{165,250}</string>
                <key>textureRect</key>
                <string>{{330,0},{165,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,250}</string>
                <key>spriteSourceSize</key>
                <string>{165,250}</string>
                <key>textureRect</key>
                <string>{{495,0},{165,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,250}</string>
                <key>spriteSourceSize</key>
                <string>{165,250}</string>
                <key>textureRect</key>
                <string>{{660,0},{165,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>recovery.png</string>
            <key>size</key>
            <string>{825,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37703cd87f76b3ea949a7da790e3e9e6:0bc4066eb8b5901f4bf15027a1efeb3a:57197fe75475efb5e52961c9b623be36$</string>
            <key>textureFileName</key>
            <string>recovery.png</string>
        </dict>
    </dict>
</plist>
